@charset "UTF-8";
 
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: #AB4493;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formulario {
    margin-top: 80px;
    margin-bottom: 80px;
    max-width: 485px;
    border-radius: 10px;
    background-color: white;
}
form {
    margin: 30px;
}
.title h1 {
    font-size: 34px;
    color: #AB4493;
    margin-bottom: 50px;
}
.title p {
    font-weight: bold;
    margin-bottom: 40px;
}
.formulario input {
    margin-top: 8px;
    padding: 12px;
    width: 422px;
    margin-bottom: 35px;
    border-radius: 5px;
    border: 1.5px solid #AB4493;
}
.formulario input:focus {
    border-color: greenyellow;
}
.formulario textarea {
    margin-top: 10px;
    padding: 10px;
    width: 422px;
    border-radius: 5px;
    border: 1.5px solid #AB4493;
    margin-bottom: 40px;
    resize: none;
}
.enviar input {
    background-color: #AB4493;
    color: white;
    border-radius: 10px;
}
.enviar p {
    font-size: 14px;
}


